@font-face { font-family: DMCFont; src: url('DMC5Font.otf'); }
@font-face { font-family: raleway; src: url('Raleway-Regular.ttf'); }

html *{
    font-family: DMCFont;
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: 1fr 50px;
}

header .shopping{
    position: relative;
    text-align: right;
}

header .shopping img{
    padding: 0;
    width: 70%;
    cursor: pointer;
}

header .shopping span{
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 60%;
    padding: 3px 10px;
}

nav{
    position: fixed;
    transition: top 0.5s;
    width: 100%;
    z-index: 999;
    align-items: center;
}

nav ul{
    list-style-type: none;
    background: rgb(0, 0, 0);
    height: 10vh;
    overflow: hidden;
    color: white;
    padding-left: 90vh;
    text-align: right;
    margin: 0;
}

nav ul li{
    display: inline-block;
    padding: 30px;
}

nav ul li a{
    text-decoration: underline;
    color: white;
    font-size: 3vh;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#ribbon{
    padding-top: 10%;
    height: 1vh;
    background-color: #272f3f;
}

body{
    background-color: white;
    color: black;
}

 /* Custom Scrollbar */
::-webkit-scrollbar {
    height: 10svh;
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    background-color: darkgray;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #17181e;
    border-radius: 10px;
}

.side{
    display: flex;
    justify-content: space-between;
}

#login{
    padding-top: 5%;
    padding-right: 10%;
    min-height: 90vh;

    background: linear-gradient(to left,
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0)),
    url("tools.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    color: antiquewhite;
    text-align: right;
}

#login h1{
    font-size: 25vh;
}

#login h3{
    font-size: 7vh;
    padding-top: 10%;
    padding-right: 15%;
    color:  #D4AF37;
}

#login #left-column {
    padding: 10%;
    justify-content: center;
}

#inputs-container {
    text-align: center;
    display: grid;
    gap: 10px;
}

.login_input{
    background-color: rgba(255, 255, 255, 0.5);
    width: 20vw;
    height: 5vh;
    border-radius: 50px;
    text-align: center;
}

.btn{
    background-color: #D4AF37;
    color: white;
    border-radius: 70px;
    height: 4vh;
    width: 10vw;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(to right, orange, red);
    transform: translateY(-2px);
}

h1{
    color: white;
    font-size: 10svh;
}

h2{
    color: gold;
    font-size: 5dvh;
}

td{
    color: antiquewhite;
    font-family: raleway;
}


#home{
    padding-top: 5%;
    padding-left: 10%;
    height: 90svh;
    background: linear-gradient(to right,
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0)),
    url("Van.jpg");
    background-size: cover;
}

#home h1{
    color: antiquewhite;
    font-size: 25svh;
}

.full_section{
    padding-left: 10%;
    padding-top: 5%;
}

#product{
    min-height: 70svh;
}

#product h3{
    text-align: center;
    font-size: 5vh;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.cover{
    position: relative;
}    

.cover_image{
    display: block;
    width: 80vw;
}

.overlay{
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #002d3c75;
}

.cover:hover .cover_image{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.cover:hover .overlay {
    opacity: 1;
}

#bg-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

.section{
    min-height: 60svh;
    width: 90%;
}

.section h2{
    padding-left: 5%;
}

#about{
    min-height: 90svh;
}

#location{
    min-height: 90svh;
}

#location table{
    text-align: center;
    border-spacing: 15px;
    padding: 2%;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    background: linear-gradient(to bottom,
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0)),
    url("interior.jpg")
    no-repeat
    fixed;
    background-size: cover;
}

.card{
    position: fixed;
    padding: 5% 20px;
    top: 0;
    left: 100%;
    width: 30%;
    background-color: #272f3f;
    height: 80vh;
    transition: 0.5s;
    z-index: 1000;
}

.Product_img{
    width: 25vw;
}

.card h2{
    font-weight: 100;
    font-family: raleway;
    margin: 0;
    padding: 0 20px;
    height: 10vh;
    display: flex;
    align-items: center;
}

.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 83%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkOut div{
    background-color:  #CAABD9;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkOut div:nth-child(2){
    background-color: #17181e;
    color: #fff;
}

.active .card{
    left: calc(100% - 450px);
}

.active nav{
    transform: translateX(-200px);
}

.list .item{
    text-align: center;
    background-color: #757598;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}

.list .item img{
    aspect-ratio: 16 / 9;
    width: 60%;
}

.list .item .title{
    font-weight: 600;
}

.list .item .price{
    margin: 10px;
}

.list .item button{
    background-color: #E0BDF0;
    height: 5vh;
    width: 100%;
}

.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
    margin-bottom: 20px;
}

.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img{
    aspect-ratio: 4 / 3;
    width: 5vw;
}

.listCard button{
    width: auto;
    background-color: #fff5;
    border: none;
}

.listCard .count{
    margin: 0 10px;
}

#footer{
    margin-top: 10vh;
    min-height: 40svh;
    background-color: #17181e;
}

#footer img{
    height: 7vh;
    margin: 30px;
}

.footer_container {
    padding: 20px 0;
    text-align: center;
    border-top: 3px solid #007bff;
}

.footer_container p{
    font-family: raleway;
    color: white;
    padding: 1vh;
}

.popup {
    display: none;
    position: fixed;
    height: 65vh;
    width: 45vw;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    background: 
        linear-gradient(to right, rgba(0,0,0,1) 20%, rgba(0,0,0,0.5), rgba(0,0,0,0)), 
        url("couch.jpg") no-repeat fixed;
    padding: 20px;
    border-radius: 5px;
}

.close{
    color: white;
}

.popup.show {
    display: block;
    color: black;
}

.popup-content label,.popup-content input,.popup-content select,.popup-content textarea, .popup-content option {
    font-family: raleway;
}

.popup-content p {
    color: white;
    text-align: left;
}

.popup .close{
    cursor: pointer;
}

.popup table{
    width: 100%;
    text-align: center;
}

.popup td {
    text-align: left;
}

.center_table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

.fullInput {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 70px;
}

.halfInput{
    margin-right: 20px;
    width: 35%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 70px;
}

.selectionBox{
    font-family: raleway;
    width: 45%;
    border-radius: 70px;
    padding: 1vh;
    text-align: center;
}
